extends layout/layout.pug

block content
  section.pa-banner.pa-fancy-bg(style="background-image: url('../assets/banner_3.jpg');")
    .pa-banner-content
      .pa-banner-text.pa-fancy-text
        h1.display-3 AUGMENTED REALITY
        h2 Augmented Reality
  section
    .container
      .py-5
        h2.text-center AUGMENTED REALITY
        .row
          .col-10.offset-1
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
        h2.text-center Story
        .row.py-5
          .col-5.offset-1
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-5
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
        .row.py-5
          .col-5.offset-1
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-5
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
        .row.py-5
          .col-5.offset-1
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-5
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
        
