extends layout/layout.pug

block content
  include includes/navbar.pug
  section.pa-banner.pa-fancy-bg(style="background-image: url('../assets/banner_4.jpg');")
    .pa-banner-content
      .pa-banner-text.pa-fancy-text
        h2 blablalblalba blablalblalba
        h1.display-3 How can we help you?
  section
    .container.py-5
      .row
        .col-10.offset-1
          h1.text-center Story
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          h1.text-center Story
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab