extends layout/layout.pug

block content
  include includes/navbar.pug
  
  section.pa-banner.pa-fancy-bg(style="background-image: url('../assets/banner_2.jpg');")
    .pa-banner-content
      .pa-banner-text.pa-fancy-text
        h1.display-3 GALLERY
        h2 GALLERY


  .container
      .py-5
        h2.text-center GALLERY
        .row
          .col-10.offset-1
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
            p
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
              | content blablablab content blablablab
        h2.text-center Story
        .row.py-3
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
        .row.py-3
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
        .row.py-3
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
        .row.py-3
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")
          .col-6
            img(src="../assets/banner_1.jpg" style="width: 100%;")