extends layout/layout.pug


block content
  include includes/navbar.pug
  section.pa-banner.pa-fancy-bg(style="background-image: url('../assets/banner_5.png');")
    .pa-banner-content
      .pa-banner-text.pa-fancy-text
        h2 blablalblalba blablalblalba
        h1.display-3 NEWS & EVENTS
  section
    .container.py-5
      h2.text-center NEWS & EVENTS
      .row.pt-5
        .col-5.offset-1
          img(src="../assets/banner_1.jpg" style="width: 100%;")
        .col-5
          h2 EVENT NAME
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p 2019/11/19
      .row.pt-5
        .col-5.offset-1
          img(src="../assets/banner_1.jpg" style="width: 100%;")
        .col-5
          h2 EVENT NAME
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p 2019/11/19
      .row.pt-5
        .col-5.offset-1
          img(src="../assets/banner_1.jpg" style="width: 100%;")
        .col-5
          h2 EVENT NAME
          p
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
            | content blablablab content blablablab
          p 2019/11/19
            