extends layout/layout.pug

block content
  include includes/navbar.pug
  

  section.pa-banner.pa-fancy-bg(style="background-image: url('../assets/banner_1.jpg');")
    .pa-banner-content
      .pa-banner-text.pa-fancy-text
        h1.display-3 Playful Albert Space Adventure
        h2 blablalblalba blablalblalba


  section
    .container
      .py-5
        h1.text-center Story
        p
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
        p
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
        p
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
        h1.text-center Story
        p
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
        p
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
        p
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab
          | content blablablab content blablablab