nav.pa-navbar.p-1.p-md-3
  .pa-navbar-desktop.d-none.d-md-flex
    a.p-3.pa-navbar-link.pa-navbar-logo(href="./index.html", class="h3") PLAYFUL ALBERT
    a.p-3.pa-navbar-link(href="./story.html") THE STORY
    a.p-3.pa-navbar-link(href="./ar.html") AR
    a.p-3.pa-navbar-link(href="./gallery.html") GALLERY
    a.p-3.pa-navbar-link(href="./faq.html") FAQ
    a.p-3.pa-navbar-link(href="./news.html") NEWS
    a.p-3.pa-navbar-link(href="./shop.html") SHOP
  
  .pa-navbar-mobile.d-md-none.d-sm-block
    a.p-3.pa-navbar-link.pa-navbar-logo(href="./index.html", class="h3") PLAYFUL ALBERT
    a.p-3.pa-navbar-link(href="./story.html") THE STORY
    a.p-3.pa-navbar-link(href="./ar.html") AR
    a.p-3.pa-navbar-link(href="./gallery.html") GALLERY
    a.p-3.pa-navbar-link(href="./faq.html") FAQ
    a.p-3.pa-navbar-link(href="./news.html") NEWS
    a.p-3.pa-navbar-link(href="./shop.html") SHOP

  .d-md-none.d-sm-block
    span.p-3.pa-navbar-link.pa-navbar-mobile-toggle
      i.fas.fa-bars
      i.fas.fa-times.d-none
